* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  background: #000;
  color: #ccc;
  font-family: proxima-nova,Proxima Nova,ProximaNova,Avenir,sans-serif;
}


li {
  font-size: 16px;
  padding: 10px;
  text-rendering: geometricPrecision;
  font-family: Merriweather, proxima-nova, Proxima Nova,ProximaNova,Avenir,sans-serif;
}

svg {
  font-family: proxima-nova, Proxima Nova, ProximaNova, Avenir, sans-serif;
  background: #000; 
  align-content: center;
  pointer-events: none;
}
.enter {
  fill:rgb(19, 203, 110);
}

.update {
  fill: rgb(1, 118, 255);
}

.exit {
  fill: #CCC;
}

.container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
  .container iframe,
  .container object,
  .container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
